services:
    
  mongodb:
    image: mongo:latest
    container_name: mongodb
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports:
      - "27017:27017"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'host.docker.internal:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - mongodb-data:/data/db
    restart: unless-stopped

  rabbitmq:
    # Use the management image to include the web UI
    image: rabbitmq:3-management
    ports:
      # AMQP protocol port
      - "5672:5672"
      # Management UI port
      - "15672:15672"
    environment:
      # Set custom default username and password (for non-production use)
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      # Set a custom default virtual host
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      # Persist data and logs (optional, recommended for production)
      - 'rabbitmq_data:/var/lib/rabbitmq/'
      - 'rabbitmq_log:/var/log/rabbitmq'

volumes:
  mongodb-data:
    driver: local
  rabbitmq_data:
  rabbitmq_log: